# Story files        #
######################
*.div
*.raw
story_orphanqueries_ignore.txt
story_orphanqueries_found.txt

# Various            #
######################
*.bak
ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Projects/*
ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Mods/ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/*.png
ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Public/ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Lists/*
ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Public/ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Progressions/*
ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Mods/ImpUI_26922ba9-6018-5252-075d-7ff2ba6ed879/Story/RawFiles/Goals/*

# Editor files       #
######################
RootTemplateSelectorConfig_*
ResourceSelectorConfig_*
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata_*
EditorBrowserMetadata.xml
Autosave/*
Recovered/*
ReConHistory.txt
story.debugInfo
desktop.ini

# Assets             #
######################
#*.gr2
*.dae
*.swf
*.bullet
#*.dds
#*.tga
#*.png
#*.ttf
*.lsb
#*.lsf
*.lsfx
*.lsefx
#*.lsx
*.lsmg

# Logs               #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

# Binary Files       #
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files         #
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pak

# VS Code #
############
launch.json

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.lnk
